name: CI
on: [push, pull_request]
jobs:
  tests:
    strategy:
      matrix:
        ruby: ["2.4", "2.5", "2.6", "2.7"]
        gemfile: [rails-5.2, rails-6.0]
        exclude:
          - { ruby: "2.4", gemfile: rails-6.0 }
        # include:
          # - { ruby: "2.7", gemfile: rails-master }
      fail-fast: false

    runs-on: ubuntu-latest

    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - run: bin/test
